<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player: Rebounding Leaders</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">US College Basketball 2016</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home </a>
                <a class="nav-item nav-link" href="/players/points">Top Scoring Players</a>
                <a class="nav-item nav-link active" href="/players/rebounds">Top Rebounding Players<span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="/venues">Top Attendance Venues</a>
                <a class="nav-item nav-link" href="/divisions">Divisions</a>
            </div>
        </div>
    </nav>
    <!-- Primary page content -->
    <div class="container-fluid">
        <!-- Surfaces error if any is caught -->
        <% if (locals.message) { %>
        <div class="alert alert-<%= message.type %>" role="alert">
            <%= message.body %>
        </div>
        <% } %>
        <h1> Players: Rebound Leaders </h1>
        <!-- Table containing a row for each player -->
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Jersey No</th>
                    <th scope="col">Team</th>
                    <th scope="col">Team Alias</th>
                    <th scope="col">Total Rebounds</th>
                    <th scope="col">Defensive Rebounds</th>
                    <th scope="col">Offensive Rebounds</th>
                </tr>
            </thead>
            <tbody>
                <% players.forEach(function(player) { %>
                <tr>
                    <th scope="row"><a href='../player/<%= player.id %>'><%= player.name %></a></th>
                    <td><%= player.jersey_number %></td>
                    <td><%= player.market %> <%= player.team_name %></td>
                    <td><%= player.alias %></td>
                    <td><%= player.rebounds %></td>
                    <td><%= player.defensive_rebounds %></td>
                    <td><%= player.offensive_rebounds %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>

    </div>
    <!-- jQuery library -->
    <script language="javascript" src="../js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap library -->
    <script language="javascript" src="../js/bootstrap.min.js"></script>

</body>

</html>